.idea
.DS_Store
/backup/
/docker-compose.generated.yml
/yarn-generated/
.env
__pycache__/action_house.cpython-310.pyc
__pycache__/auction_house.cpython-310.pyc
*.json
__pycache__/logger.cpython-310.pyc
logs/auction_house.log
book_data/
spark_apps/__pycache__/auction_house.cpython-310.pyc
spark_apps/__pycache__/logger.cpython-310.pyc
jobs/bronze/__pycache__/auction_house.cpython-310.pyc
jobs/bronze/__pycache__/bronze.cpython-310.pyc
jobs/bronze/__pycache__/logger.cpython-310.pyc
jobs/bronze/__pycache__/bronze_auctions.cpython-310.pyc
logger/__pycache__/__init__.cpython-310.pyc
logger/__pycache__/logger.cpython-310.pyc
jobs/bronze/__pycache__/auctions.cpython-310.pyc
__pycache__/testador.cpython-310.pyc
endpoints/testador.py
logs/auctions.log
endpoints/__pycache__/testador.cpython-310.pyc
logs/auctions/bronze/auctions.log
jobs/bronze/__pycache__/commodities.cpython-310.pyc
jobs/bronze/__pycache__/item.cpython-310.pyc
jobs_functions/__pycache__/functions.cpython-310.pyc
logs/jobs.log
logs/item.log
logs/commodities.log
logger/__pycache__/wow_logger.cpython-310.pyc
